<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.notthegolfer.dash-button</string>

    <key>WorkingDirectory</key>
    <string>/Users/Greg/Documents/Dev/Dash_Button</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
	      <string>dash</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/var/log/dash-button.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/dash-button.log</string>
    <key>Debug</key>
    <true/>
    <key>SoftResourceLimits</key>
    <dict>
        <key>Core</key>
        <integer>9223372036854775807</integer>
    </dict>
    <key>HardResourceLimits</key>
    <dict>
        <key>Core</key>
        <integer>9223372036854775807</integer>
    </dict>

</dict>
</plist>
